<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">

  <style>
      .logo {
    margin:1rem;
}

.bot{
  position: fixed;
  top: 105px;
  right: 20px;
}

.container {
    
    
    
    margin: 1rem;
    
}

.content {
    width: 100%;
    height:100%;
}

.content-item {
    margin: 1rem;
    right: 45px;

}

.form {
    min-width: 50rem;
}

  </style>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>

  
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <!-- Your application bootstrap  -->
  <script type="text/javascript">
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    var app = angular.module('myApp', ['ngMaterial', 'ngMessages']).config(function ($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('amber', {
          'default': '400', // by default use shade 400 from the pink palette for primary intentions
          'hue-1': '200', // use shade 100 for the <code>md-hue-1</code> class
          'hue-2': '600', // use shade 600 for the <code>md-hue-2</code> class
          'hue-3': 'A100'
        })
        .accentPalette('green', {
          'default': '200'
        })
        .warnPalette('red', {
          'default': '300'
        });
    });

 

    app.controller('myCtrl', function ($scope, $http, $interval) {
      var check_res = { "Name": "", "Age": null, "Zipcode": null, "Gender": "", "medc_num": "", "datea": "", "dateb": "", "Plan": "", "Enroll": "" };
      $scope.plan_names = [];
      $scope.plan_name2 = [];
      $scope.gender = "";
      $interval(function () {
        $http.get('https://obscure-shore-19991.herokuapp.com/update').then(function (response) {
          var result = response.data;
          if (document.getElementById('zipcode').value == 90024) {
            $scope.plan_names = ["AARP MedicareComplete SecureHorizons Focus", "AARP MedicareComplete SecureHorizons Premier"];
            $scope.plan_name2 = [];
          }
          if (document.getElementById('zipcode').value == 90025) {
            $scope.plan_names2 = ["AARP MedicareComplete SecureHorizons Assure", "AARP MedicareComplete SecureHorizons Essential"];
            $scope.plan_names = [];
          }
          if (check_res.Name != result.Name) {
            $scope.name = result.Name;
            check_res.Name = result.Name;
          }
          if (check_res.Age != result.Age) {
            $scope.age = result.Age;
            check_res.Age = result.Age;
          }
          if (check_res.Gender != result.Gender) {
            $scope.gender=result.Gender;
            check_res.Gender = result.Gender;
          }
          if (check_res.medc_num != result.medc_num) {
            $scope.medc_num = result.medc_num;
            check_res.medc_num = result.medc_num;
          }

          if (check_res.datea != result.datea) {
            $scope.datea = result.datea;
            check_res.datea = result.datea;
          }
          if (check_res.dateb != result.dateb) {
            $scope.dateb = result.dateb;
            check_res.dateb = result.dateb;
          }

          if (check_res.Zipcode != result.Zipcode) {
            $scope.zipcode = result.Zipcode;
            check_res.Zipcode = result.Zipcode;
          }
          if (check_res.Plan != result.Plan) {
            $scope.plan = result.Plan;
            check_res.Plan = result.Plan;
          }
          if (check_res.Enroll != result.Enroll) {
            document.getElementById('enroll_button').click();
            check_res.Enroll = result.Enroll;
          }

        });
      }, 1000);
    });

  </script>

</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-cloak>


  <md-toolbar layout="row" layout-align="start center">
    <img src="uhc_logo.jpg" alt="UHC" width="200" height="50" class="logo">
  </md-toolbar>

  <div  class="container"  layout="row" layout-align="left center">

    <md-whiteframe class="md-whiteframe-5dp"   class="content">
      <div class="content-item">
        <form id="submitForm" action="/" method="post" class="form" layout="column" >

          <!--<md-input-container>
            <label>Name</label>
            <input ng-model="name">
          </md-input-container> -->
          <md-input-container>
          
            
              <label>Name</label>
            
            
              <input type="text" name="name" ng-model="name"  id="name"   required>
            
          
        </md-input-container>
        
        <md-input-container>
          <div class="row">
            
              <label for="age">Age</label>
            
            
              <input type="text" name="age" ng-model="age" id="age"  required>
            
          </div>
        </md-input-container>

         
        <md-input-container>
          <div class="row">
            
              <label for="gender">Gender</label>
           
            
            
                <input type="text" name="gender" ng-model="gender" id="age"  required>
              
              
            
          </div>
        </md-input-container>

        

          <md-input-container>
          <div class="row">
            
              <label for="medc_num">Medicare Number</label>
            
            
              <input type="text" name="medc_num" ng-model="medc_num"  id="medc_num"  required>
              
            
          </div>

          </md-input-container>

          <div class="row">
            
              <label for="datea">Part A Effective Date</label>
           
            
              <md-datepicker  name="datea" ng-model="datea" id="datea"  required></md-datepicker>
              
            
          </div>

          <md-divider></md-divider>

          <div class="row">
            
              <label for="dateb">Part B Effective Date</label>
            
            
              <md-datepicker name="dateb" ng-model="dateb" id="dateb"  required></md-datepicker>
              
            
          </div>

          <md-input-container>
          <div class="row">
            
              <label for="zipcode">Zipcode</label>
            
            
               <input id="zipcode" type="text" name="zipcode" ng-model="zipcode" 
                  required>
             
          </div>
          </md-input-container>

          <md-input-container>
          <div class="row">
            <div class="col-25">
              <label for="map">Medicare Advantage Plan</label>
            </div>
            <div class="col-75">
              <p> <md-select id="plan" name="plan" ng-model="plan">
                  <md-option value="AARP MedicareComplete SecureHorizons Focus">{{plan_names[0]}}</md-option>
                  <md-option value="AARP MedicareComplete SecureHorizons Premier">{{plan_names[1]}}</md-option>
                  <md-option value="AARP MedicareComplete SecureHorizons Assure">{{plan_names2[0]}}</md-option>
                  <md-option value="AARP MedicareComplete SecureHorizons Essential">{{plan_names2[1]}}</md-option>>
              </md-select>
              </p>

            </div>
          </div>
          </md-input-container>

          <div class="row">
            <md-button type="submit" ng-model="enroll_button" class="md-raised md-warn" id="enroll_button">SUBMIT</md-button>
          </div>
        </form>
      </div>

      
    </md-whiteframe>

    <div id="bot" action="/dialogflow" method="post" class="bot">
      <iframe align="right" allow="microphone;" width="380" height="480"
        src="https://console.dialogflow.com/api-client/demo/embedded/a06d82aa-1402-4215-91ed-048d7b43e79d">
      </iframe>
    </div>




  </div>

  



  <!-- Angular Material requires Angular.js Libraries -->
  

</body>

</html>